<!-- ------------------------------------------------------- -->
<!-------------------- MENU ADMINISTRADOR --------------------->
<!-- ------------------------------------------------------- -->
<app-menu-etiqueta [etiqueta]="menuAdmin.etiquetaAdmin"/>

<app-menu-simple [menusimple]="menuAdmin.simpleDashoard"/>

<app-menu-primer-nivel [primerNivel]="menuAdmin.menuPrimerNivelProducts"/>

<app-menu-primer-nivel [primerNivel]="menuAdmin.menuPrimerNivelCategorias"/>

<app-menu-simple [menusimple]="menuAdmin.simpleUsMarcas"/>

<app-menu-simple [menusimple]="menuAdmin.simpleProveedores"/>

<app-menu-simple [menusimple]="menuAdmin.simpleUsuarios"/>

<app-menu-etiqueta [etiqueta]="menuAdmin.etiquetaOperaciones"/>

<app-menu-simple [menusimple]="menuAdmin.simpleOrders"/>

<app-menu-simple [menusimple]="menuAdmin.simpleStock"/>

<app-menu-simple [menusimple]="menuAdmin.simpleVentas"/>

<app-menu-simple [menusimple]="menuAdmin.simpleClientes"/>

<!-- ------------------------------------------------------- -->
<!-------------------- MENU VENTAS        --------------------->
<!-- ------------------------------------------------------- -->
<app-menu-etiqueta [etiqueta]="menuAdmin.etiquetaSales"/>
<app-menu-simple [menusimple]="menuAdmin.simpleDashoardSales"/>
<app-menu-simple [menusimple]="menuAdmin.simplePuntoVenta"/>
<app-menu-simple [menusimple]="menuAdmin.simpleMisVentas"/>
<app-menu-simple [menusimple]="menuAdmin.simpleSalesClientesSales"/>
<app-menu-simple [menusimple]="menuAdmin.simpleProductos"/>
<app-menu-simple [menusimple]="menuAdmin.simpleCaja"/>

<!-- ------------------------------------------------------- -->
<!-------------------- MENU TECNICO        --------------------->
<!-- ------------------------------------------------------- -->
<app-menu-etiqueta [etiqueta]="menuAdmin.etiquetaTechnician"/>
<app-menu-simple [menusimple]="menuAdmin.simpleDashoardTecnico"/>
<app-menu-simple [menusimple]="menuAdmin.simpleMovimientoStock"/>
<app-menu-simple [menusimple]="menuAdmin.simpleProductosTecnico"/>
<app-menu-simple [menusimple]="menuAdmin.simpleOrdenServicio"/>



<!--  
      ********** EJEMPLO MENU COMPLETO *******************
<app-menu-etiqueta [etiqueta]="menu.etiquetaFuncionarios" />
<app-menu-primer-nivel [primernivel]="menu.menuPrimerNivel" />
<app-menu-etiqueta [etiqueta]="menu.etiquetaSistema" />
<app-menu-segundo-nivel [segundonivel]="menu.menuSegundoNivel"/>
<app-menu-simple [menusimple]="menu.opcionSimple"/>
<app-menu-simple [menusimple]="menu.opcionSimpleAcercade"/>

-->


